<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <style type="text/css">
    

  
.most-contributer {
    position: absolute;
    right: 0;
    top: 2%;
    transform: translateX(-200%);
    min-width: 50px;
    font-size: 5000px;
}
.search-result-categories>li>a {
    color: #b6b6b6;
    font-weight: 400
}

.search-result-categories>li>a:hover {
    background-color: #ddd;
    color: #555
}

.search-result-categories>li>a>.glyphicon {
    margin-right: 5px
}

.search-result-categories>li>a>.badge {
    float: right
}

.search-results-count {
    margin-top: 10px
}

.search-result-item {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px
}

.search-result-item:after,
.search-result-item:before {
    content: " ";
    display: table
}

.search-result-item:after {
    clear: both
}

.search-result-item .image-link {
    display: block;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media (min-width:768px) {
    .search-result-item .image-link {
        display: inline-block;
        margin: -20px 0 -20px -20px;
        float: left;
        width: 200px
    }
}

@media (max-width:767px) {
    .search-result-item .image-link {
        max-height: 200px
    }
}

.search-result-item .image {
    max-width: 100%;
    margin-top: 0 !important;
}

.search-result-item .info {
    margin-top: 2px;
    font-size: 12px;
    color: #999
}

.search-result-item .description {
    font-size: 13px
}

.search-result-item+.search-result-item {
    margin-top: 20px
}

@media (min-width:768px) {
    .search-result-item-body {
        margin-left: 200px;
    }
}

.search-result-item-heading {
    font-weight: bolder;

}

.search-result-item-heading>a {
    font-weight: 1000;
    color: #555;
    
}

@media (min-width:768px) {
    .search-result-item-heading {
        margin: 0
    }
}

.number-selector {
  width: 250px;
  margin: 0px;
  display: flex;
  align-items: center;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  background: #d3d3d3;
  border-radius: 10px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #5bc5f7;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #5bc5f7;
  border-radius: 50%;
  cursor: pointer;
}

output {
  display: block;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  margin-left: 30px;
  min-width: 50px;
}

    </style>
    <title>Kindle</title>

    <!-- CSS -->
    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous" />
      <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <title>Kindle</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="../../assets/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="../../assets/css/animate.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/media-queries.css" />
    <link rel="stylesheet" href="assets//ReqD.css" />
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../../assets/ico/favicon.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="../../assets/ico/apple-touch-icon-144-precomposed.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="../../assets/ico/apple-touch-icon-114-precomposed.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="../../assets/ico/apple-touch-icon-72-precomposed.png" />

      
    <link
      rel="apple-touch-icon-precomposed"
      href="../../assets/ico/apple-touch-icon-57-precomposed.png" />
      
        <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg"/>
    <title>Kindle</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="../../assets/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="../../assets/css/animate.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/media-queries.css" />
    <link rel="stylesheet" href="assets//ReqD.css" />
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../../assets/ico/favicon.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="../../assets/ico/apple-touch-icon-144-precomposed.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="../../assets/ico/apple-touch-icon-114-precomposed.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="../../assets/ico/apple-touch-icon-72-precomposed.png" />
    <link
      rel="apple-touch-icon-precomposed"
      href="../../assets/ico/apple-touch-icon-57-precomposed.png" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
      <title>Bootstrap Example</title>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- <script src="ReqD.js" defer></script> -->
  </head>
      <link
      rel="stylesheet"
      href="../../assets/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="../../assets/css/animate.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/media-queries.css" />
    <link rel="stylesheet" href="assets//ReqD.css" />
    <link rel="stylesheet" href="assets//TeachingPosts.css" />
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../../assets/ico/favicon.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="../../assets/ico/apple-touch-icon-144-precomposed.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="../../assets/ico/apple-touch-icon-114-precomposed.png" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="../../assets/ico/apple-touch-icon-72-precomposed.png" />
    <link
      rel="apple-touch-icon-precomposed"
      href="../../assets/ico/apple-touch-icon-57-precomposed.png" />
      
      
  </head>

  <body>
    <!-- Wrapper -->
    <div class="wrapper">
      <!-- Sidebar -->
      <nav class="sidebar" style="background-color: #212121">
        <!-- close sidebar menu -->
        <div class="dismiss">
          <i class="fas fa-arrow-left"></i>
        </div>

        <div class="logo">
          <h3><a href="Admin.html">Kindle</a></h3>
        </div>

        <ul class="list-unstyled menu-elements">
          <li class>
              <a class="button" href="Admin.html"><i class="fas fa-home"></i> Home</a>
          </li>
          <li>
              <a class="button" href="AdminViewOrg.html"><i class="fas fa-building"></i> Show Organizations</a>
          </li>
          <li class="active">
              <a class="scroll-link" href="#section-1"><i class="fas fa-users"></i> Show Donors</a>
          </li>
          <li>
              <a class="button" href="AdminReviewSub.html"><i class="fas fa-list-alt"></i> Review submissions</a>
          </li>
          <li>
              <a class="button" href="AdminManageReq.html"><i class="fas fa-tasks"></i> Manage requests</a>
          </li>
          <li>
              <a class="button" href="AdminSetting.html"><i class="fas fa-cog"></i>Account Settings</a>
          </li>
          <li>
              <a href="#otherSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                  role="button" aria-controls="otherSections">
                  <i class="fas fa-sync"></i>Other sections
              </a>
              <ul class="collapse list-unstyled" id="otherSections">
                  <li>
                      <a class="scroll-link" href="#section-3">Our projects</a>
                  </li>
                  <li>
                      <a class="scroll-link" href="#section-4">We think that../...</a>
                  </li>
              </ul>
          </li>
      </ul>
      

        <div class="to-top">
          <a class="btn btn-primary btn-customized-3" href="#" role="button">
            <i class="fas fa-sign-out-alt"></i> Log out
          </a>
        </div>

        <!-- <div class="dark-light-buttons">
				<a class="btn btn-primary btn-customized-4 btn-customized-dark" href="#" role="button">Dark</a>
				<a class="btn btn-primary btn-customized-4 btn-customized-light" href="#" role="button">Light</a>
			</div> -->
      </nav>
      <!-- End sidebar -->

      <!-- Dark overlay -->
      <div class="overlay"></div>

      <!-- Content -->
      <div class="content">
        <!-- open sidebar menu -->
        <a class="open-menu" href="#" role="button">
          <button class="btnMenu" style="background-color: #212121">
            <span class="icon">
              <svg viewBox="0 0 175 80" width="40" height="40">
                <rect width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                <rect
                  y="30"
                  width="80"
                  height="15"
                  fill="#f0f0f0"
                  rx="10"></rect>
                <rect
                  y="60"
                  width="80"
                  height="15"
                  fill="#f0f0f0"
                  rx="10"></rect>
              </svg>
            </span>
            <span class="text">Menu</span>
          </button>
        </a>
        <div class="maincontent" id="maincontent">
        <!-- Top content -->
        <div class="top-content section-container" id="top-content">
          <div class="container">
            <div class="row">
              <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <h1 class="wow fadeIn" >Kindle</h1>
                <div class="description wow fadeInLeft">
                  <h3 ><p>Together, Make a Difference.</p></h3>
                </div>
                </div>
                
                <div class="center-container">
                  <div class="buttons wow fadeInUp">
                    <div class="container-input">
                      
                      <input
                        type="text"
                        id="searchInput"
                        placeholder="Search"
                        name="text"
                        class="input"
                      />
                      <svg
                        fill="#000000"
                        width="20px"
                        height="20px"
                        viewBox="0 0 1920 1920"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M790.588 1468.235c-373.722 0-677.647-303.924-677.647-677.647 0-373.722 303.925-677.647 677.647-677.647 373.723 0 677.647 303.925 677.647 677.647 0 373.723-303.924 677.647-677.647 677.647Zm596.781-160.715c120.396-138.692 193.807-319.285 193.807-516.932C1581.176 354.748 1226.428 0 
                            790.588 0S0 354.748 0 790.588s354.748 790.588 790.588 790.588c197.647 0 378.24-73.411 516.932-193.807l516.028 516.142 79.963-79.963-516.142-516.028Z"
                          fill-rule="evenodd"></path>
                      </svg>
                      
                   
                      
                    </div>
                    <div id="filterInputs">

                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Section 2 -->
        <div
          class="section-2-container section-container section-container-gray-bg"
          id="section-2" style="background-color: #fcfaf0;"
          >
          <BR>
          <h1 style="font-family: roboto; font-weight: bolder;text-align: justify;margin-left:15% ;font-size: 48px;">Registered Donors</h1>
          <div class="divider-1 wow fadeInUp" style="margin-right:1220px"> <span></span> </div>
          <button class="filter-button" onclick="toggleFilterSidebar()">
            <i class="fas fa-filter filter-icon"></i> Filter
          </button>
          <br>
          <br>
          <div class="container">
            <style>
                .search-result-item .row {  /* Increased specificity */
                  display: flex;
                  justify-content: flex-start;
                }
              
                /* Consider adding these styles to address potential conflicts */
                .search-result-item .col-sm-12 {
                  padding: 0;  /* Remove any default padding */
                }
              
                .search-result-item p,
                .search-result-item h4,
                .search-result-item a {
                  margin: 0;  /* Remove any default margins */
                }
              </style>
              
              <section class="search-result-item">
                <a class="image-link" href="#">
                    <img class="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                </a>
                <div class="search-result-item-body">
                    <div class="row user-info">
                        <div class="col-md-9">
                            <h4 class="search-result-item-heading"><a href="#">John Doe</a></h4>
                            <p class="info">Heliopolis, Aziz Fahmy</p>
                            <p class="description">Not just usual Metro. But something bigger. Not just usual widgets, but real widgets. Not just yet another admin template, but next generation admin template.</p>
                        </div>
                        <div class="col-md-3 text-align-center">
                            <p class="value3 mt-sm">51 Donations</p>
                            <p class="fs-mini text-muted">PER Month</p>
                            <a class="btn btn-primary btn-info btn-sm" href="DetailsDonor.html">Learn More</a>

                            

                        </div>
                    </div>
                </div>
            </section>
            
              
              
            <section class="search-result-item">
            <a class="image-link" href="#"><img class="image" src="https://bootdey.com/img/Content/avatar/avatar6.png">
            </a>
            <div class="search-result-item-body">
            <div class="row">
            <div class="col-sm-9">
            <h4 class="search-result-item-heading" ><a href="#" class = "text-end">Mostafa Mohammed</a> </h4>
            <p class="info">Fifth Settlement</p>
            <p class="description">You will never know exactly how something will go until you try it. You can think three hundred times and still have no precise result.</p>
            </div>
            <div class="col-sm-3 text-align-center">
            <p class="badge bg-danger fw-normal most-contributer">Most Contributer!</p>            <p class="value3 mt-sm">91 Donations</p>
            <p class="fs-mini text-muted">PER MONTH</p><a class="btn btn-primary btn-info btn-sm" href="DetailsDonor.html">Learn More</a>
            </div>
            </div>
            </div>
            </section>
            <section class="search-result-item">
            <a class="image-link" href="#"><img class="image" src="https://bootdey.com/img/Content/avatar/avatar2.png">
            </a>
            <div class="search-result-item-body">
            <div class="row">
            <div class="col-sm-9">
            <h4 class="search-result-item-heading"><a href="#">Ahmed Elsayed</a></h4>
            <p class="info">6th October</p>
            <p class="description">The Great Prince of the Grand Duchy of Lithuania he had stopped the invasion to Europe of Timur (Tamerlan) from Asia heading a big Army of Belarusians, Lithuanians.</p>
            </div>
            <div class="col-sm-3 text-align-center">
            <p class="value3 mt-sm">5 Donations</p>
            <p class="fs-mini text-muted">PER MONTH</p><a class="btn btn-info btn-sm" href="DetailsDonor.html">Learn More</a>
            </div>
            </div>
            </div>
            </section>
            <section class="search-result-item">
            <a class="image-link" href="#"><img class="image" src="https://bootdey.com/img/Content/avatar/avatar3.png">
            </a>
            <div class="search-result-item-body">
            <div class="row">
            <div class="col-sm-9">
            <h4 class="search-result-item-heading"><a href="#">Mariam Mohammed</a></h4>
            <p class="info">Dokki, Saleh st.</p>
            <p class="description">Yes you can! Further more, you should! It let's you create really beautiful images either for elements or for the entire background.</p>
            </div>
            <div class="col-sm-3 text-align-center">
            <p class="value3 mt-sm">31 Donations</p>
            <p class="fs-mini text-muted">PER MONTH</p><a class="btn btn-info btn-sm" href="DetailsDonor.html">Learn More</a>
            </div>
            </div>
            </div>
            </section>
            <section class="search-result-item">
              <a class="image-link" href="#">
                  <img class="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
              </a>
              <div class="search-result-item-body">
                  <div class="row user-info">
                      <div class="col-md-9">
                          <h4 class="search-result-item-heading"><a href="#">Hassan Amr</a></h4>
                          <p class="info">Heliopolis, Hegaz St.</p>
                          <p class="description">Not just usual Metro. But something bigger. Not just usual widgets, but real widgets. Not just yet another admin template, but next generation admin template.</p>
                      </div>
                      <div class="col-md-3 text-align-center">
                          <p class="value3 mt-sm">7 Donations</p>
                          <p class="fs-mini text-muted">PER WEEK</p>
                          <a class="btn btn-primary btn-info btn-sm" href="DetailsDonor.html">Learn More</a>
                      </div>
                  </div>
              </div>
          </section>
            <br>
            
          </div>
        </div>
        </div>
        
      

        <!-- Footer -->
        <footer class="footer-container">
          <div class="container">
            <div class="row">
              <div class="col">
                &copy; This website perserves your personal information.
              </div>
            </div>
          </div>
        </footer>
      </div>
      <!-- End content -->
    </div>
</div>
    <!-- End wrapper -->
    <div class="Filtersidebar" id="sidebar2">
        <div class="filter-button" style="background-color: #222024; position: absolute; top: 15px; right: 20px;" onclick="closeSidebar()">
            <i class="fas fa-arrow-left"></i>   Return
        </div>
   
    
              <div style="margin-left: 40px; margin-top: 20px;">

                <div id="organization1" class="radio-container">
                  <h3 style="text-align: left; color: white;">Min. weekly donations:</h3>
                  <div class="number-selector">
                      <input type="range" min="0" max="100" value="0" id="numberRange1">
                      <output for="numberRange1" id="selectedNumber1">0</output>
                  </div>
                  <!-- Add more radio buttons for areas -->
              
              
             <br>
             <br>
             <br>
             <br>
                  <h3 style="text-align: left; color: white;">Max. weekly donations:</h3>
                  <div class="number-selector">
                      <input type="range" min="0" max="100" value="100" id="numberRange2">
                      <output for="numberRange2" id="selectedNumber2">100</output>
                  </div>
                  <!-- Add more radio buttons for areas -->
              </div>
              

                <div id = "area"class="radio-container">
                    <h3 style="text-align: left;color: white;">Area :</h3>
                    <div class="radio-wrapper">
                        <label class="radio-button">
                            <input value="" name="area" type="radio" checked>
                            <span class="radio-checkmark"></span>
                            <span class="radio-label">All</span>
                        </label>
                    </div>
                  
                    <div class="radio-wrapper">
                        <label class="radio-button">
                            <input value="fifth Settlement" name="area" type="radio">
                            <span class="radio-checkmark"></span>
                            <span class="radio-label">Fifth Settlement</span>
                        </label>
                    </div>

                    <div class="radio-wrapper">
                        <label class="radio-button">
                            <input value="heliopolis" name="area" type="radio">
                            <span class="radio-checkmark"></span>
                            <span class="radio-label">Heliopolis</span>
                        </label>
                    </div>

                    <div class="radio-wrapper">
                        <label class="radio-button">
                            <input value="6th octobor" name="area" type="radio">
                            <span class="radio-checkmark"></span>
                            <span class="radio-label">6th Octobor</span>
                        </label>
                    </div>
                  
                    <div class="radio-wrapper">
                        <label class="radio-button">
                            <input value="dokki" name="area" type="radio">
                            <span class="radio-checkmark"></span>
                            <span class="radio-label">Dokki</span>
                        </label>
                    </div>
                    <!-- Add more radio buttons for areas -->
            
                </div>

                <div id="governorate"class="radio-container">
                    <h3 style="text-align: left;color: white;">Governorate :</h3>
                    <div class="radio-wrapper">
                        <label class="radio-button">
                            <input value="" name="governorate" type="radio" checked>
                            <span class="radio-checkmark"></span>
                            <span class="radio-label">All</span>
                        </label>
                    </div>
                  
                    <div class="radio-wrapper">
                        <label class="radio-button">
                            <input value="cairo" name="governorate" type="radio">
                            <span class="radio-checkmark"></span>
                            <span class="radio-label">Cairo</span>
                        </label>
                    </div>

                    <div class="radio-wrapper">
                        <label class="radio-button">
                            <input value="alexandria" name="governorate" type="radio">
                            <span class="radio-checkmark"></span>
                            <span class="radio-label">Alexandria</span>
                        </label>
                    </div>

                    <div class="radio-wrapper">
                        <label class="radio-button">
                            <input value="aswan" name="governorate" type="radio">
                            <span class="radio-checkmark"></span>
                            <span class="radio-label">Aswan</span>
                        </label>
                    </div>
                  
                    <div class="radio-wrapper">
                        <label class="radio-button">
                            <input value="giza" name="governorate" type="radio">
                            <span class="radio-checkmark"></span>
                            <span class="radio-label">Giza</span>
                        </label>
                    </div>
                    <!-- Add more radio buttons for areas -->
            
                </div>

            </div>
            </div>
        </div>
      </div>

      

  
    <!-- Javascript -->
    <script src="../../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../assets/js/jquery-migrate-3.0.0.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
    <script src="../../assets/js/jquery.backstretch.min.js"></script>
    <script src="../../assets/js/wow.min.js"></script>
    <script src="../../assets/js/jquery.waypoints.min.js"></script>
    <script src="../../assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../assets/js/scripts.js"></script>
    
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript"> </script>

<script>
    // Function to toggle the sidebar for filters
    function toggleFilterSidebar() {
      document.getElementById("sidebar2").classList.toggle("active");
    }
  
    // Function to close the sidebar
    function closeSidebar() {
      document.getElementById("sidebar2").classList.remove("active");
    }
  
    // Function to perform search
    function performSearch() {
      var input, filter, sections, section, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      sections = document.getElementsByClassName("search-result-item");

      for (i = 0; i < sections.length; i++) {
        section = sections[i];
        var name = section.querySelector('.search-result-item-heading').textContent.toUpperCase();
        var info = section.querySelector('.info').textContent.toUpperCase();
        txtValue = name + ' ' + info;

        if (txtValue.indexOf(filter) > -1) {
          sections[i].style.display = "";
        } else {
          sections[i].style.display = "none";
        }
      }
    }

    document.querySelectorAll('input[name="governorate"]').forEach(input => {
  input.addEventListener("change", () => {
    const governorate = document.querySelector('input[name="governorate"]:checked');
    if (governorate) {
      performFilter(governorate.value);
    }
  });
});

  
function performFilter() {
  var minDonations = parseInt(document.getElementById('numberRange1').value);
  var maxDonations = parseInt(document.getElementById('numberRange2').value);
  var area = document.querySelector('input[name="area"]:checked').value;
  var governorate = document.querySelector('input[name="governorate"]:checked').value;
  var sections = document.getElementsByClassName("search-result-item");

  // Reset display styles for all sections
  Array.from(sections).forEach(section => section.style.display = "");

  Array.from(sections).forEach(function(section) {
    var donationCount = parseInt(section.querySelector('.value3')?.textContent.match(/\d+/)[0]);
    var areaText = section.querySelector('.info').textContent.toUpperCase();
    
    var isVisible = donationCount >= minDonations && donationCount <= maxDonations &&
                    (area === 'all' || areaText.includes(area.toUpperCase())) &&
                    (governorate === 'all' || governorate === governorate.toUpperCase()|| governorate === 'cairo');

    section.style.display = isVisible ? "" : "none";
  });
}

// Add event listeners for filter inputs
document.getElementById("numberRange1").addEventListener("input", performFilter);
document.getElementById("numberRange2").addEventListener("input", performFilter);
document.querySelectorAll('input[name="area"]').forEach(input => input.addEventListener("change", performFilter));
document.querySelectorAll('input[name="governorate"]').forEach(input => input.addEventListener("change", performFilter));

    // Add event listeners for search and filter inputs
    document.getElementById("searchInput").addEventListener("keyup", performSearch);
    document.getElementById("filterInputs").addEventListener("change", performFilter);
    
    
    const rangeInput1 = document.getElementById('numberRange1');
    const output1 = document.getElementById('selectedNumber1');
    const rangeInput2 = document.getElementById('numberRange2');
    const output2 = document.getElementById('selectedNumber2');

    rangeInput1.addEventListener('input', function() {
      output1.textContent = this.value;
    });

    rangeInput2.addEventListener('input', function() {
      output2.textContent = this.value;
    });

  
  </script>
  
  </body>
</html>
