:root {
  --primary-color: #3a5efd;
  --primary-hover-color: #3d5adb;
  --header-color: #0c0f1d;
  --background-color: #BCCBC9;
  --container-background-color: #333;
  --form-background-color: #444;
  --border-color: #8096f4;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --text-color: #0c0f1d;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
}

.containerView {
  max-width: 1500px;
  margin: 20px auto;
  padding: 20px;
  
  border-radius: 8px;
  
  background: none;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

h1 {
  text-align: center;
  color: var(--header-color);
}

.item-card {
  flex: 0 0 465px; /* Each item card takes up one-third of the container width with a margin between them */
  margin: 10px; /* Adjust the margin between item cards */
  width: 500px;
  height:500px;
  padding: 20px;
  box-sizing: border-box; /* Include padding and border in the total width */
  box-shadow: 0 0 10px var(--box-shadow-color);
  background:none;
}

@media (max-width: 768px) {
  .item-card {
    flex: 1 1 100%; /* Each item takes up full width on smaller screens */
  }
}

.item-card img {
  width:300px;
  height:200px;
  display: block;
  margin: 0 auto 10px;
}

.item-card h2 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.item-card p {
  margin-bottom: 10px;
}

.item-card button {
  display: block;
  width: 100%;
  margin-top: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.item-card button:hover {
  background-color: var(--primary-hover-color);
}

.search-bar {
  margin-bottom: 20px;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 8px;
}

.search-bar input[type="text"] {
  width: calc(100% - 100px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.search-bar input[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar input[type="submit"]:hover {
  background-color: var(--primary-hover-color);
}
** Sidebar **/ .sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -255px;
  z-index: 999;
  background: #333;
  color: #fff;
  transition: all 0.3s;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
  text-align: left;
}

.sidebar.active {
  left: 0;
}

.dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.3s;
  background: #444;
  border-radius: 4px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}

.dismiss:hover,
.dismiss:focus {
  background: #555;
  color: #fff;
}

.container-input {
  position: relative;
}

.input {
  width: 150px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 250px;
}
.buttons {
  display: flex;
  align-items: center; /* Align items vertically */
}

.container-input {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Adjust margin as needed */
}

.input {
  margin-right: 5px; /* Adjust margin as needed */
}
.center-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.top-content {
  height: 370px; /* Set the desired height */
}
#filterInputs {
  display: flex;
  align-items: center;
}

#filterInputs label {
  margin-right: 10px;
}

.age-inputs {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.age-inputs input {
  width: 50px; /* Adjust width as needed */
}



