.button {
    position: relative;
    width: 250px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 3px solid #cc0000;
    background-color: #e50000;
    overflow: hidden;
    border-radius: 25px; /* Add border-radius for rounded edges */
  }
  
  .button,
  .button__icon,
  .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(40px);
    color: #fff;
    font-weight: 900;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(207px);
    height: 100%;
    width: 39px;
    background-color: #cc0000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 29px;
  }
  
  .button:hover {
    background: #cc0000;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 250px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #b20000;
  }
  
  .button:active {
    border: 1px solid #b20000;
  }
  