.card {
    width: 300px;
    height: 325px;
    background: #FFF7E4;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  
  .popup-container {
      position: absolute; /* Change from fixed to absolute */
      top: 50%; /* Center the popup vertically */
      left: 50%; /* Center the popup horizontally */
      transform: translate(-50%, -50%); /* Center the popup both vertically and horizontally */
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      z-index: 9999; /* Ensure the popup appears on top of other elements */
      animation: popupAppear 0.5s ease-in-out;
  }
  
  /* Centering the card */
  .popup-container .card {
    position: absolute;  /* Make the card positioned absolutely within the container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Center the card horizontally and vertically */
  }
  
  .card-body {
    font-weight: bold;  
    text-align: center;  /* Center the text horizontally */
    padding: 20px;  /* Add some padding for better separation from the card edges */
    color: #594D2B;  /* Change the text color to a darker shade for better readability */
  }
  
  .close-button {  /* Target the existing close button */
    right:10px;
    position: absolute;  /* Required for the X and Y elements */
    width: 2em;  /* Adjust width if needed */
    height: 2em;  /* Adjust height if needed */
    border: none;
    background-color: rgba(180, 83, 107, 0.11);  /* Adjust background color if needed */
    border-radius: 5px;
    transition: background 0.5s;
    cursor: pointer;  /* Indicate clickable element */
    display: flex;  /* Align content within the button */
    align-items: center;  /* Center content vertically */
    justify-content: center;  /* Center content horizontally */
  }
  
  .close-button:hover {  /* Hover effect for the close button */
    background-color: rgb(211, 21, 21);  /* Change to red on hover */
  }
  
  .close-button:active {
    background-color: rgb(130, 0, 0);  /* Change on button press (optional) */
  }