.button {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0px 15px;
    background-color: rgb(66, 66, 66);
    border-radius: 10px;
    color: white;
    border: none;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
  }
  .dot {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: rgb(194, 3, 3);
    border-radius: 100%;
  }
  .bell {
    width: 13px;
  }
  
  .bell path {
    fill: rgb(0, 206, 62);
  }
  
  .arrow {
    position: absolute;
    right: 0;
    width: 30px;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button:hover {
    background-color: rgb(77, 77, 77);
    transition-duration: 0.2s;
  }
  
  .button:hover .arrow {
    animation: slide-right 1s infinite;
  }
  /* arrow animation */
  @keyframes slide-right {
    0% {
      transform: translateX(0);
    }
  
    50% {
      transform: translateX(-5px);
    }
  }
  
  .button:active {
    transform: translate(1px, 1px);
    transition-duration: 0.2s;
  }
  